name: Android CI

on:
  pull_request:
    branches:
      - main

env:
  TOMTOM_API_KEY: ${{ secrets.TOMTOM_API_KEY }}
  GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
  OpenRouteService_API_KEY: ${{ secrets.OpenRouteService_API_KEY }}
  MAILERSEND_API_KEY: ${{ secrets.MAILERSEND_API_KEY }}
  GOOGLE_APP_PASS: ${{ secrets.GOOGLE_APP_PASS }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Fetch latest version from server and increment
        run: |
          latest_version=$(curl -s "http://43.226.218.98:5000/api/latest-version" | jq -r '.version')
          echo "Latest version: $latest_version"
          IFS='.' read -r -a version_parts <<< "$latest_version"
          major=${version_parts[0]}
          minor=${version_parts[1]}
          patch=${version_parts[2]}
          patch=$((patch + 1))
          new_version="$major.$minor.$patch"
          echo "new_version=$new_version" >> $GITHUB_ENV
          echo "New version: $new_version"

      - name: Update version in build.gradle
        run: |
          # Remove dots from versionName to create versionCode
          version_code=$(echo "$new_version" | sed 's/\.//g')
          
          sed -i "s/versionCode .*/versionCode version_code/" app/build.gradle
          sed -i "s/versionName \".*\"/versionName \"$new_version\"/" app/build.gradle
          
          echo "Updated versionCode: version_code"
          echo "Updated versionName: $new_version"
          
          grep "versionCode\|versionName" app/build.gradle

      - name: Update version on the server
        run: |
          curl -X POST "http://43.226.218.98:5000/api/update-version" \
          -H "Content-Type: application/json" \
          -d '{
                "version": "'"$new_version"'",
                "url": "http://43.226.218.98/apk/app-v'"$new_version"'.apk",
                "release_notes": "Auto incremented version"
              }'

      - name: Build Debug APK
        run: ./gradlew assembleRelease

      - name: Upload APK using Flask API
        run: |
          response=$(curl -X POST "http://43.226.218.98:5000/api/upload-apk" \
            -F "file=@app/release/app-release.apk" \
            -F "version=${new_version}" \
            -F "release_notes=Auto incremented version")
          echo "Upload response: $response"

      - name: Verify uploaded version
        run: curl http://43.226.218.98:5000/api/latest-version
