name: Android CI

on:
  pull_request:
    branches:
      - main

env:
  TOMTOM_API_KEY: ${{ secrets.TOMTOM_API_KEY }}
  GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
  OpenRouteService_API_KEY: ${{ secrets.OpenRouteService_API_KEY }}
  MAILERSEND_API_KEY: ${{ secrets.MAILERSEND_API_KEY }}
  GOOGLE_APP_PASS: ${{ secrets.GOOGLE_APP_PASS }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Install jq
        run: sudo apt-get install -y jq

      - name: Fetch latest version from server and increment
        id: versioning
        run: |
          latest_version=$(curl -s "http://43.226.218.98:5000/api/latest-version" | jq -r '.version')
          echo "Latest version: $latest_version"
          IFS='.' read -r -a version_parts <<< "$latest_version"
          major=${version_parts[0]}
          minor=${version_parts[1]}
          patch=${version_parts[2]}
          patch=$((patch + 1))
          new_version="$major.$minor.$patch"
          echo "new_version=$new_version" >> $GITHUB_ENV
          echo "New version: $new_version"

      - name: Update versionName in build.gradle
        run: |
          sed -i "s/versionName \".*\"/versionName \"$new_version\"/" app/build.gradle

      - name: Update versionCode in build.gradle
        run: |
          current_version_code=$(grep -oP 'versionCode \K\d+' app/build.gradle)
          new_version_code=$((current_version_code + 1))
          sed -i "s/versionCode $current_version_code/versionCode $new_version_code/" app/build.gradle

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Upload APK using Flask API
        run: |
          curl -X POST "http://43.226.218.98:5000/api/upload-apk" \
          -F "file=@app/build/outputs/apk/debug/app-debug.apk" \
          -F "version=${new_version}" \
          -F "release_notes=Auto incremented version"

      - name: Commit changes back to the PR branch
        run: |
          git config --local user.email "jasonchristian1234@gmail.com"
          git config --local user.name "jasonchriscodes"
          git checkout -b version-update
          git add app/build.gradle
          git commit -m "ci: update version to $new_version"
          git push origin version-update
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


