name: Android CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  TOMTOM_API_KEY: ${{ secrets.TOMTOM_API_KEY }}
  GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
  OpenRouteService_API_KEY: ${{ secrets.OpenRouteService_API_KEY }}
  MAILERSEND_API_KEY: ${{ secrets.MAILERSEND_API_KEY }}
  GOOGLE_APP_PASS: ${{ secrets.GOOGLE_APP_PASS }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Run Tests
        run: ./gradlew test

      - name: Set up SSH and Upload APK
        run: |
          # Start the SSH agent
          eval "$(ssh-agent -s)"
          # Add the private key to SSH agent
          echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
          # Add the server to known hosts
          ssh-keyscan -H 43.226.218.98 >> ~/.ssh/known_hosts
          # Test SSH connection
          ssh -o StrictHostKeyChecking=no root@43.226.218.98 "echo 'SSH connection successful!'"
          # Upload APK to the server
          scp -o StrictHostKeyChecking=no app/build/outputs/apk/release/app-release.apk root@43.226.218.98:/var/www/ota_update_server/apk/app-v1.0.1.apk
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
