name: Android CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TOMTOM_API_KEY: ${{ secrets.TOMTOM_API_KEY }}
      GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
      OpenRouteService_API_KEY: ${{ secrets.OpenRouteService_API_KEY }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: '21'

    - name: Set up Android SDK
      uses: android-actions/setup-android@v3
      with:
        cmdline-tools-version: "latest"
        accept-android-sdk-licenses: true
        packages: "platforms;android-33,build-tools;33.0.0"

    - name: Cache Gradle dependencies
      uses: actions/cache@v3
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Build with Gradle
      run: |
        ./gradlew assembleRelease -PtomtomApiKey=$TOMTOM_API_KEY -PgoogleApiKey=$GOOGLE_API_KEY -PopenRouteServiceApiKey=$OpenRouteService_API_KEY

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: app-debug-androidTest.apk
        path: app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk
