name: Android CI

on:
  pull_request:
    branches:
      - main
      - development

env:
  TOMTOM_API_KEY: ${{ secrets.TOMTOM_API_KEY }}
  GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
  OpenRouteService_API_KEY: ${{ secrets.OpenRouteService_API_KEY }}
  MAILERSEND_API_KEY: ${{ secrets.MAILERSEND_API_KEY }}
  GOOGLE_APP_PASS: ${{ secrets.GOOGLE_APP_PASS }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Increment version
        run: |
          current_version=$(grep versionName build.gradle | awk '{print $2}' | tr -d '"')
          IFS='.' read -r -a version_parts <<< "$current_version"
          patch=${version_parts[2]}
          minor=${version_parts[1]}
          major=${version_parts[0]}
          patch=$((patch + 1))
          if [ "$patch" -ge 10 ]; then
              patch=0
              minor=$((minor + 1))
          fi
          new_version="$major.$minor.$patch"
          sed -i "s/versionName \".*\"/versionName \"$new_version\"/" build.gradle
          git config --global user.email "jasonchristian1234@gmail.com"
          git config --global user.name "jasonchriscodes"
          git add build.gradle
          git commit -m "chore: bump version to $new_version"
          git push origin main

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Set up SSH and Upload APK
        run: |
          eval "$(ssh-agent -s)"
          echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
          mkdir -p ~/.ssh
          ssh-keyscan -H 43.226.218.98 >> ~/.ssh/known_hosts
          ssh -o StrictHostKeyChecking=no root@43.226.218.98 "echo 'SSH connection successful!'"
          ssh -o StrictHostKeyChecking=no root@43.226.218.98 "mkdir -p /var/www/ota_update_server/apk/"
          scp -o StrictHostKeyChecking=no app/build/outputs/apk/debug/app-debug.apk root@43.226.218.98:/var/www/ota_update_server/apk/app-v$new_version.apk
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
